PORT=1234
DB_NAME=your_db_name
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

PLATFORM_ADMIN_NAME=admin_name
PLATFORM_ADMIN_EMAIL=admin_email
PLATFORM_ADMIN_PASSWORD=admin_password
PLATFORM_ADMIN_PHONE=admin_phone_number


JWT_SECRET=jwt_secret
JWT_ACCESS_TOKEN_EXPIRY=jwt_accessToken_expiry_in_ms
JWT_REFRESH_TOKEN_EXPIRY=jwt_refreshToken_expiry_in_ms

JWT_REFRESH_TOKEN_COOKIE_NAME=your_cookie_name

ACTIVE_PROFILE=your_active_profile

OTP_EXPIRY=otp_expiry_in_ms
OTP_LENGTH=otp_length


MAIL_USERNAME=your_email_from_which_mails_will_be_delivered
MAIL_PASSWORD=your_email_app_password

INVITATION_EXPIRATION_DAYS=your_invitation_expiry_in_days

FRONTEND_URL=your_frontend_url